name = "escribe-backend"
main = "src/index.js"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

workers_dev = true
preview_urls = true

[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true

[observability.traces]
enabled = false
head_sampling_rate = 1
persist = true

[vars]
ENVIRONMENT = "production"
CORS_ORIGIN = "https://main.escribe-1ur.pages.dev"
SUPERADMIN_EMAIL = "admin@escribe.prod"

[env.dev]
name = "escribe-backend-dev"
vars = { ENVIRONMENT = "development", LOG_LEVEL = "debug", CORS_ORIGIN = "http://localhost:5173", SUPERADMIN_EMAIL = "admin@escribe.dev" }

[env.local]
name = "escribe-backend-local"
vars = { ENVIRONMENT = "local", LOG_LEVEL = "debug", CORS_ORIGIN = "http://localhost:5173", SUPERADMIN_EMAIL = "admin@escribe.local" }

[[d1_databases]]
binding = "DB"
database_name = "escribe"
database_id = "28ea8b49-1888-4750-9a0c-2f37b54a6374"
migrations_dir = "../../db/migrations"

[[env.dev.d1_databases]]
binding = "DB"
database_name = "escribe-dev"
database_id = "2f3d7f1d-30c6-47c6-bb3f-52f91d7738f5"
migrations_dir = "../../db/migrations"

[[env.local.d1_databases]]
binding = "DB"
database_name = "escribe-dev"
database_id = "2f3d7f1d-30c6-47c6-bb3f-52f91d7738f5"
migrations_dir = "../../db/migrations"
